.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
}

.main .depth-frame {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
}

.main .div {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.main .top-menu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  position: relative;
  flex: 0 0 auto;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #e5e8ea;
  background: linear-gradient(
    90deg,
    rgba(243, 248, 255, 1) 0%,
    rgba(229, 232, 235, 1) 100%
  );
}

.main .logo-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
  background: radial-gradient(circle, #888 0%, #555 50%);
  border-radius: 12px;
}

.main .logo {
  position: relative;
  height: 70px;
  aspect-ratio: 4.21;
    border-radius: 12px;

}

.main .depth-frame-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  margin-left: 50px;
}

.main .depth-frame-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.main .depth-frame-3 {
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0px 16px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
  overflow: hidden;
}

.main .div-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  cursor: pointer;
}

.main .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  background: linear-gradient(
    90deg,
    rgba(5, 71, 153, 1) 0%,
    rgba(2, 24, 51, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.main .depth-frame-wrapper {
  display: inline-flex;
  min-width: 84px;
  max-width: 480px;
  height: 40px;
  flex: 0 0 auto;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.main .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.main .text-wrapper-2 a {
  color: #ffffff;
}

.main .depth-frame-4 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      90deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
}

.main .depth-frame-5 {
  align-items: center;
  flex: 1;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main .carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 720px;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  position: relative;
}

.main .component {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: var(--shape-corner-small);
  overflow: hidden;
}

.main .overlap-group {
  width: 990px;
  height: 660px;
  background-image: url(./img/20250710-2134-high-tech-situation-center-simple-compose-01jztjxd9dfq39svqgc9ptbc7n-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.main .depth-frame-6 {
  display: flex;
  flex-direction: column;
  width: 860px;
  height: 81px;
  top: 550px;
  left: 75px;
  border-radius: var(--shape-corner-small);
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 0.5) 0%,
    rgba(2, 24, 51, 0.5) 100%
  );
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  overflow: hidden;
}

.main .depth-frame-7 {
  flex-direction: column;
  width: 359px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.main .text-wrapper-3 {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.main .solutions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 160px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-left: -1px;
  margin-right: -1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      180deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
  background: linear-gradient(
    90deg,
    rgba(243, 248, 255, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
}

.main .depth-frame-8 {
  gap: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: center;
  width: 80%;
  flex: 0 0 auto;
}

.main .depth-frame-9 {
  display: flex;
  flex-direction: column;
  height: 45px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.main .text-wrapper-4 {
  align-self: stretch;
  background: linear-gradient(
    126deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  font-size: 36px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 45px;
  position: relative;
  margin-top: -1px;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
}

.main .depth-frame-10 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.main .p {
  align-self: center;
  position: relative;
  width: 75%;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #011733;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.main .depth-frame-11 {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .depth-frame-12 {
  display: flex;
  height: 200px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: center;
}

.main .depth-frame-13 {
  display: flex;
  flex-direction: column;
  width: 301px;
  height: 170px;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
}

.main .depth-frame-13::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .vector-wrapper {
  position: relative;
  flex: 1;
  width: 24px;
  flex-grow: 1;
}

.main .vector {
  position: absolute;
  width: 20px;
  height: 18px;
  top: 4px;
  left: 2px;
}

.main .depth-frame-14 {
  display: flex;
  height: 130px;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  margin-bottom: -29px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.main .depth-frame-15 {
  display: flex;
  flex-direction: column;
  height: 20px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.main .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(2, 24, 51, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
}

.main .depth-frame-16 {
  display: flex;
  flex-direction: column;
  height: 90px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.main .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #6b7582;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 21px;
}

.main .img {
  height: 14px;
  top: 5px;
  left: 2px;
  position: absolute;
  width: 22px;
}

.main .depth-frame-17 {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.main .vector-2 {
  height: 16px;
  top: 4px;
  left: 1px;
  position: absolute;
  width: 22px;
}

.main .depth-frame-18 {
  display: flex;
  height: 157px;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  align-self: center;
}

.main .depth-frame-19 {
  display: flex;
  flex-direction: column;
  width: 301px;
  height: 170px;
  align-items: flex-start;
  gap: 12px;
  padding: 16px;
  position: relative;
  margin-bottom: -13px;
  background-color: #ffffff;
  border-radius: 8px;
  border: none;
}

.main .depth-frame-19::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .depth-frame-20 {
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url(./img/icon-3.svg);
  background-size: 100% 100%;
}

.main .depth-frame-21 {
  position: relative;
  flex: 1;
  width: 24px;
  flex-grow: 1;
  background-image: url(./img/icon-2.svg);
  background-size: 100% 100%;
}

.main .depth-frame-22 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.main .text-wrapper-7 {
  position: relative;
  width: 23px;
  height: 24px;
  margin-top: -1px;
  background: linear-gradient(
    180deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 21px;
  white-space: nowrap;
}

.main .controller {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 160px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      180deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
}

.main .depth-frame-23 {
  flex-direction: column;
  height: 45px;
  align-self: stretch;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .text-wrapper-8 {
  align-self: stretch;
  background: linear-gradient(
    92deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  font-size: 36px;
  text-align: center;
  letter-spacing: -1px;
  line-height: 45px;
  position: relative;
  margin-top: -1px;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
}

.main .depth-frame-24 {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .frame {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 40px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
  align-self: stretch;
}

.main .text-wrapper-9 {
  position: relative;
  flex: 1;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #011733;
  font-size: 16px;
  text-align: right;
  letter-spacing: 0;
  line-height: 24px;
  padding-top: 50px;
}

.main .img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.main .img-2 {
  position: relative;
  width: 450px;
  height: 300px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.main .div-2 {
  align-items: flex-start;
  gap: 12px;
  padding: 40px 160px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      180deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
  background: linear-gradient(
    90deg,
    rgba(243, 248, 255, 1) 0%,
    rgba(229, 232, 235, 1) 100%
  );
  display: flex;
  flex-direction: column;
  position: relative;
}

.main .frame-2 {
  display: flex;
  height: 593px;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.main .frame-3 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 0px 20px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.main .text-wrapper-10 {
  position: relative;
  width: 292px;
  margin-top: -1px;
  background: linear-gradient(
    126deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 45px;
}

.main .frame-4 {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  width: 75%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: center;
  margin: 30px;
}

.main .text-wrapper-11 {
  position: relative;
  align-self: stretch;
  height: 28px;
  margin-top: -1px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.main .frame-5 {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  position: relative;
  flex: 1;
  align-self: center;
  width: 80%;
  flex-grow: 1;
}

.main .div-3 {
  align-items: flex-start;
  gap: 10px;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  border: 1px solid;
  border-color: transparent;
  border-image: linear-gradient(
      90deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
}

.main .frame-6 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      90deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
  display: flex;
  position: relative;
  align-self: stretch;
}

.main .img-3 {
  position: relative;
  width: 150px;
  height: 150px;
  aspect-ratio: 1;
  object-fit: cover;
}

.main .frame-7 {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  flex: 1;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  display: flex;
  position: relative;
  align-self: stretch;
}

.main .text-wrapper-13 {
  position: relative;
  align-self: stretch;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #011733;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.main .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.main .text-wrapper-15 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
  font-size: 24px;
  text-align: center;
}

.main .videowall-scheme-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 12px;
}

.main .videowall-scheme {
  position: relative;
  width: 722px;
  height: 400px;
  aspect-ratio: 1.8;
}

.main .features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 40px 160px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      180deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
}

.main .frame-9 {
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 80%;
  align-self: center;
  gap: 30px;
}

.main .frame-10 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  align-self: center;
}

.main .frame-11 {
  align-items: flex-start;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  align-self: center;
}

.main .list-item {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 12px;
  padding: 5px;
  position: relative;
  flex: 0 0 auto;
  border-radius: var(--shape-corner-small);
  border: none;
}

.main .list-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .depth-frame-25 {
  border-radius: var(--shape-corner-medium);
  position: relative;
}

.main .depth-frame-26 {
  position: relative;
  flex: 1;
  width: 24px;
  height: 24px;
  flex-grow: 1;
  border-radius: 12px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
}

.main .depth-frame-27 {
  width: 892px;
  height: 20px;
  margin-right: -13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.main .text-wrapper-16 {
  width: fit-content;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(2, 24, 51, 1) 100%
  );
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
}

.main .frame-12 {
  align-items: flex-start;
  gap: 20px;
  padding: 10px;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
  align-self: stretch;
}

.main .frame-13 {
  align-items: center;
  gap: 10px;
  padding: 10px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
}

.main .depth-frame-28 {
  display: inline-flex;
  min-width: 84px;
  max-width: 480px;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border: none;
}

.main .depth-frame-28::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .depth-frame-29 {
  width: 137px;
  height: 40px;
  padding: 0px 16px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .depth-frame-29::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .img-4 {
  position: relative;
  width: 225px;
  height: 150px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.main .img-product-light {
  position: relative;
  width: 100px;
  height: 150px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.main .frame-14 {
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      90deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
}

.main .depth-frame-30 {
  display: flex;
  max-width: 480px;
  width: 137px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 20px;
  border: none;
  align-items: center;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  overflow: hidden;
}

.main .depth-frame-30::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .element-displayport {
  position: relative;
  width: 284px;
  margin-left: -2.33px;
  margin-right: -2.33px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #011733;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 20px;
}

.main .support {
  display: flex;
  flex-direction: column;
  height: 442px;
  align-items: center;
  gap: 40px;
  padding: 40px 160px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: transparent;
  border-image: linear-gradient(
      180deg,
      rgba(5, 116, 255, 1) 0%,
      rgba(5, 71, 153, 1) 100%
    )
    1;
}

.main .text-wrapper-17 {
  width: fit-content;
  background: linear-gradient(
    126deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 45px;
  white-space: nowrap;
  position: relative;
  margin-top: -1px;
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: transparent;
}

.main .frame-15 {
  height: 300px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 30px;
  flex: 1;
  flex-grow: 1;
  border-radius: 8px;
  overflow: hidden;
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #ffffff;
}

.main .frame-15::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .phone {
  display: flex;
  flex-direction: column;
  height: 58px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 4px 4px 0px 0px;
  border: none;
}

.main .phone::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid;
  border-color: #79747e;
}

.main .state-layer {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  padding: 4px 0px 4px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  border-radius: 4px 4px 0px 0px;
}

.main .content {
  display: flex;
  flex-direction: column;
  height: 48px;
  align-items: flex-start;
  padding: 4px 0px;
  flex: 1;
  flex-grow: 1;
  justify-content: center;
  position: relative;
}

.main .input-text-container {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.main .input-text-container input.input-text {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: #1d1b20;
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  font-style: var(--m3-body-large-font-style);
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.main .input-text {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--m3-body-large-font-family);
  font-weight: var(--m3-body-large-font-weight);
  color: #1d1b20;
  font-size: var(--m3-body-large-font-size);
  letter-spacing: var(--m3-body-large-letter-spacing);
  line-height: var(--m3-body-large-line-height);
  font-style: var(--m3-body-large-font-style);
}

.main .label-text-container {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -12px;
  left: 12px; /* Align better inside padding */
  background-color: #fef7ff;
  z-index: 2; /* Lift above input border */
  pointer-events: none; /* Avoid blocking input clicks */
}

.main .label-text {
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: #49454f;
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
  font-style: var(--m3-body-small-font-style);
}

.main .trailing-icon {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  width: 40px;
  align-items: center;
  border-radius: 100px;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.main .icon-wrapper {
  display: flex;
  height: 40px;
  align-self: stretch;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .icon {
  position: relative;
  width: 24px;
  height: 24px;
}

.main .supporting-text {
  display: flex;
  width: 399px;
  height: 20px;
  align-items: flex-start;
  gap: 10px;
  padding: 4px 16px 0px;
  position: absolute;
  top: 56px;
  left: 0;
}

.main .supporting-text-2 {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--m3-body-small-font-family);
  font-weight: var(--m3-body-small-font-weight);
  color: #49454f;
  font-size: var(--m3-body-small-font-size);
  letter-spacing: var(--m3-body-small-letter-spacing);
  line-height: var(--m3-body-small-line-height);
  font-style: var(--m3-body-small-font-style);
}

.main .email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 4px 4px 0px 0px;
  border: none;
}

.main .email::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  height: 48px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .content-2 {
  display: inline-flex;
  align-items: center;
  flex: 0 0 auto;
  margin-top: -2.5px;
  margin-bottom: -2.5px;
  border-radius: 100px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  justify-content: center;
  position: relative;
}

.main .state-layer-2 {
  display: inline-flex;
  gap: 4px;
  padding: 12px 24px;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main .label {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: #ffffff;
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1px;
  white-space: nowrap;
  font-style: var(--heading-font-style);
}

.main .frame-16 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 50px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  border: none;
  gap: 50px;
}

.main .frame-16::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    180deg,
    rgba(5, 116, 255, 1) 0%,
    rgba(5, 71, 153, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.main .whatsapp {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
}

.main .img-5 {
  position: relative;
  width: 49px;
  height: 49px;
  aspect-ratio: 1;
  object-fit: cover;
}

.main .text-wrapper-18 {
  position: relative;
  width: fit-content;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 45px;
  white-space: nowrap;
}

.main .mailto {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
}

.main .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Space Grotesk-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: -1px;
  line-height: 45px;
  white-space: nowrap;
}

.main .bottom-bar {
  display: flex;
  width: 100%;
  height: 177px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  background: linear-gradient(
    90deg,
    rgba(243, 248, 255, 1) 0%,
    rgba(229, 232, 235, 1) 100%
  );
}

.main .depth-frame-31 {
  max-width: 960px;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main .depth-frame-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 40px 20px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.main .depth-frame-33 {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.main .depth-frame-34 {
  display: inline-flex;
  flex-direction: column;
  min-width: 160px;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.main .text-wrapper-20 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Space Grotesk-Regular", Helvetica;
  font-weight: 400;
  color: #6b7582;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
}

.main .depth-frame-35 {
  display: flex;
  flex-direction: column;
  width: 160px;
  align-items: center;
  position: relative;
}

.main .depth-frame-36 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 12px;
}
.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.7s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.carousel-slide.active {
  opacity: 1;
  z-index: 1;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-caption {
  position: absolute;
  width: 80%;
  bottom: 30px;
  padding: 40px;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 0 2px 8px #000;
  align-self: middle;
  margin-top: -1px;
  background: linear-gradient(
    90deg,
    rgba(5, 71, 153, 0.65) 0%,
    rgba(2, 24, 51, 0.65) 100%
  );
  font-family: "Space Grotesks-Bold", Helvetica;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0;
  line-height: 21px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-text-fill-color: #fff;
}
